body {
  font-family: "Helvetica", sans-serif;
  width:1250px;
}
h1 {
  padding:10px;
}
p {
  padding:10px;
}
h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
  width:350px;
  float:right;
}
#about {
  background-color: maroon;
  padding: 2%,,
}
